<div class="text-gray-700 ">
    <form id="ebc-donations-form" class="max-w-4xl" action="#" method="post" onsubmit="return false;">
        <label class="block">
            <span>Name (Optional)</span>
            <input type="text" name="name" class="form-input mt-1 block w-full" placeholder="Your Name">
        </label>
        <div class="flex flex-col sm:flex-row">
            <label class="inline-block sm:w-1/2 sm:mr-2">
                <span>Email (Optional)</span>
                <input type="email" name="email" class="form-input w-full mt-1 block box-border" placeholder="e.g. james@gmail.com">
            </label>
            <label class="inline-block sm:w-1/2">
                <span>Phone Number (Optional)</span>
                <input type="number" name="phone_number" pattern="\d" class="form-input w-full mt-1 block phone-mask" placeholder="e.g. 07231235678">
            </label>
        </div>
        <div class="flex flex-col sm:flex-row">
            <label class="inline-block sm:w-1/2 sm:mr-2">
                <span >Currency</span>
                <select name="currency" class="form-select mt-1 block w-full">
                    <option value="KES">Kenyan Shillings</option>
                    <option value="USD">US Dollars</option>
                </select>
            </label>
            <label class="inline-block mt-4 sm:mt-0 sm:w-1/2">
                <span>Amount</span>
                <input name="amount" type="number" min="1" class="form-input mt-1 block w-full" placeholder="Amount" required>
            </label>
        </div>
        <label class="block">
            <span>Tribute (Optional)</span>
            <textarea name="tribute" class="form-textarea mt-1 block w-full" rows="3" placeholder="Tribute/message to the family"></textarea>
        </label>
        <button class="btn bg-brand-orange text-white text-sm tracking-wide" type="submit">Submit</button>
    </form>
</div>